body{
  font-family: Helvetica, sans-serif;
  color: #222;
  line-height: 1.5;
}

table{
  width: 100%;
  border-spacing: 0;
}

thead th, tbody tr.discount{
  background: #46a500;
  color: #fff;
  font-weight: bold;
}

thead th, tbody tr.total{
  background-color: #5993bb;
  color: #fff;
  font-weight: bold;
}

h1{
  margin: 0;
}

.secondary{
  color: #bbb;
  margin-bottom: 20px;
}

.num{
  text-align: right;
}
